<%- include('./templates/head') %>
<body>
    <header><h1>Mi agenda de teléfonos</h1></header>
    <main>
        <ul>
            <% datos.forEach(contacto => { %>
                <li><%= contacto.nombre %> <%= contacto.apellido %> -- 
                    <%= contacto.telefono %> -- <%= contacto.tipo %></li>
            <% }) %>
        </ul>
    </main>
</body>
</html>